.App {
    background-color: var(--very-dark-blue-dark-mode-bg);
    min-height: 100vh;
    /* max-width: 1445px; */
}

.App.light-theme {
    background-color: var(--very-light-gray-light-mode-bg);
}